@daily /root/purge-backups > /dev/null 2>&1
@daily /root/make-backups "7 days" > /dev/null 2>&1
@weekly /root/make-backups "1 month" > /dev/null 2>&1
@monthly /root/make-backups "1 year" > /dev/null 2>&1
0 */3 * * * /root/make-backups "24 hours" > /dev/null 2>&1

# make sure zuckerberg is resolved correctly
* * * * * /root/zuckerberg.sh > /dev/null 2>&1
