@daily /root/purge-backups > /dev/null 2>&1
@daily /root/make-backups "7 days" > /dev/null 2>&1
@weekly /root/make-backups "1 month" > /dev/null 2>&1
@monthly /root/make-backups "1 year" > /dev/null 2>&1
0 */3 * * * /root/make-backups "24 hours" > /dev/null 2>&1

20 15 * * * /root/purge-backups > /dev/null 2>&1

# make sure we occasionally do zuckerberg work
* * * * * /root/endpoint.sh > /dev/null 2>&1

# and put data points in CloudWatch
* * * * * source /root/config.sh && /usr/bin/php /root/put-status.php > /dev/null 2>&1

# and clean out log files (mongodb is not so tidy yet)
00 16 * * * /bin/kill -SIGUSR1 `pgrep mongod` && /bin/gzip --quiet /mnt/mongodb/log/mongodb.log.* > /dev/null 2>&1
